:root {
    --fuenteBody: 'Raleway', sans-serif;
    --fuenteHeading: "Anton", sans-serif;
    --fuenteParagraf: "Roboto Mono", monospace;

    --primario: #037bc0;
}

.justificado {
    text-align: justify;
}

html { /* el font-size del html es de 16px = 1.6re, */
    box-sizing: border-box;
    font-size: 62.5%; /* Con esto 1rem es igual a 10px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}
/* Globales */
a {
    text-decoration: none;
    color: black;
}
   

/* Fuentes de la pagina */
body {
    font-family: var(--fuenteBody);
    font-size: 1.6rem;
    line-height: 1.5; /* Interlineado en textos */
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: var(--fuenteHeading);
    margin: 0 0 2rem 0; /* para eliminar los margenes por default que traen los hedings*/
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

li {
    font-size: 1.2rem;
}

.titulo {
    color: #00a6ff;
}

.bg-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #004e92, #081b29);
}

.contenedor {
    padding: 2rem;
    border-radius: 1rem;
    margin: auto auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: aliceblue;
}

.contenedorPresentacion {
    flex-basis: calc(70% - 1rem);
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contenedorPresentacion a {
    color: #007bff;
    font-weight: bold;
}

.menu {
    flex-basis: calc(30% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

/* Estilos para el menu transiciones */

.menu a {
    transition: color 0.3s ease, transform 0.3s ease;
    margin-top: 2rem;
    text-transform: uppercase;
    color: #fff; /* Color inicial */
    font-weight: bold;
}

.menu a:hover {
    color: #007bff; /* Color al pasar el cursor */
    transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.menu img {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255,255,255,0.8);
}

/* Estilos para SKILLS */
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Estilos para proyectos */

.mis-proyectos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imagen-misproyectos {
    width: 25rem;
    height: 15rem;
    border-radius: 1rem;
}

.imagen-misproyectos:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.imagen-popup {
    width: 30rem;
    height: 20rem;
}

.imagen-popup:hover {
    cursor: pointer;
}

/* Estilos de Certificados Docker y GitHub */

.certificados {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/***** Popup Start *****/ 

.window-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, .3);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.window-container {
    color: #081b29;
    position: relative;
    background-color: #fff;
    width: 55rem;
    height: auto;
    padding: 1.5rem;
    border-radius: .8rem;
    animation-name: modal;
    animation-duration: .5s;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .4);
    z-index: 10;
}

@keyframes modal {
    from {
        transform: translateY(50vh);
    }

    to {
        transform: translateY(0);
    }
}

.close {
    transition: transform 1s cubic-bezier(0, -0.42, 1, -0.41);
    transform: translateY(60vh);
}

.close-button {
    position: absolute;
    border-radius: 50%;
    top: -15px;
    right: -15px;
    width: 4rem; /* 40px */
    height: 4rem; /* 40 */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solidd #eee;
    cursor: pointer;
}

.icon-close {
    fill: rgb(54, 54, 54);
}

/***** End Popup *****/

.font-inherit {
    font-weight: initial;
}



@media (min-width: 768px) {
    /* Estos estilos es cuando la pantalla sea mayor a 761 px */
    .contenido {
        display: flex;  
        justify-content: space-between;
    }

    .mis-proyectos {
        gap: 1rem;
    }
}

@media (max-width: 767px) {
    .contenedor {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .contenido {
        display: flex;  
        flex-direction: column;
    }

    .contenedorPresentacion {
        order: 2;
    }

    .menu {
        order: 1;
    }

    .mis-proyectos {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .certificados {
        grid-template-columns: 1fr;
    }

    .bg-main {
        height: auto;
    }
}

@media (min-width: 1280px) {
    .contenedor {
        width: 60%;
    }
}

@media (min-width: 2340px) {
    .contenedor {
        width: 50%;
    }
}

/* Estilos de Iconos Skills */

.lenguajes, .frameworks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contr img {
    width: 50px;
    height: 50px;
    animation: levitate 2s ease-in-out infinite;
    filter: brightness(200%);
    transition: filter 0.5s ease; /* Agrega esta línea */
} 

.contr img.html:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #da7f18 );
    -webkit-filter: brightness(200%) drop-shadow(0 0 20px #da7f18 );
}

.contr img.css:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #11F9F6);
}

.contr img.js:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #FFCC01);
}

.contr img.CSharp:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #f358eb);
}

.contr img.React:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #7aa3f0); /* tailwind */
}

.contr img.NET:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #FFCC01); /* laravel */
}
.contr img.Node:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #3ff512);
}

.contr img.MongoDB:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #3ff512); /* tailwind */
}

.contr img.SQLserver:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #ee3608); /* laravel */
}


.contr img.git:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #e77314); /* git */
}

.contr img.github:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #e9f5f6); /* github */
}

.contr img.docker:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #0adef1); /* github */
}

.contr img.gulp:hover {
    filter: brightness(200%) drop-shadow(0 0 20px #03ff46); /* github */
}


/* CSS */
.button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }